<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Utils - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
    <div class="banner">

    <a class="home" href="/">/{{ title.lower().replace(' ', '-') if title != "Home" else "" }}</a>

    <div class="topbar">
        <div class="type-selector" id="nav-selector">
            {% for title_str, path, _ in [("Home", "/", "")] + tools_list %}
            <span class="opt {{ 'selected' if title == title_str else ''}}" onclick="changeType('nav-selector', () => window.location.href = '{{ path }}', this);">{{ title_str }}</span>
            {% endfor %}
        </div>
    </div>

    </div>

    {% block content %}{% endblock %}

    <script src="static/script.js"></script>
    {% block script %}{% endblock %}
</body>
